<?xml version="1.0" encoding="utf-8" ?>
<MainMenu>
	<Menu Name="Home">
		<MenuItem Name="LogOut"></MenuItem>
		<MenuItem Name="Exit"></MenuItem>
	</Menu>
	<Menu Name="Stock" Role="1,2,3">
		<MenuItem Name="New Stock" Role="1,2,3"></MenuItem>
		<MenuItem Name="Update Stock" Role="1,2,3"></MenuItem>
		<MenuItem Name="Delete Stock" Role="1,2,3"></MenuItem>
		<MenuItem Name="Reports" Role="1,2"></MenuItem>
	</Menu>
</MainMenu>
